body {
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
}

.robot-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    background-color: #444;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    color: white;
}

.robot-head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.robot-eye {
    width: 30px;
    height: 30px;
    background-color: #007BFF;
    border-radius: 50%;
}

.robot-body {
    padding: 20px;
}

h1 {
    color: #007BFF;
    font-size: 36px;
}

form {
    margin-top: 20px;
}

input {
    padding: 10px;
    box-sizing: border-box;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px;
    box-sizing: border-box;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#main {
    margin-top: 20px;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
